<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" >
  <div class="row justify-content-center">
    <div class="col-md-9 col-xs-12 center-block">
          <div class="row" style="text-align: center;">
            <div class="col"><h2>Weather Search</h2></div>
          </div>


        <div class="row form-group required">
            <label class="label col-md-2 col-sm-12 col-xs-12 control-label text-left">Street</label>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <input class="form-control text-left" id="Street" name="Street" placeholder="Enter Street Name"
                  [disabled]="isCurrent" [(ngModel)]="Street"  (focus)="sFocus()" (blur)="sBlur()"/>
                <div class="errorStyle" [hidden]="!sError">Please enter a street.</div>
            </div>
        </div>


        <div class="row form-group required">
            <label class="label col-md-2 col-sm-12 col-xs-12 control-label text-left">City</label>
            <div class="col-md-6 col-xs-12 col-sm-12">
                  <input type="text" class="form-control text-left" id="City" name="City" placeholder="Enter City Name"
                    [disabled]="isCurrent" [(ngModel)]="City" (keyup)="onKey(City)" [matAutocomplete]="auto" (focus)="cFocus()" (blur)="cBlur()">
                  <mat-autocomplete #auto="matAutocomplete" >
                      <mat-option *ngFor="let option of autoOptions" [value]="option" >{{option}}</mat-option>
                  </mat-autocomplete>
                  <div class="errorStyle" [hidden]="!cError">Please enter a city.</div>
            </div>
        </div>


        <div class="row form-group required">
            <label class="label col-md-2 col-sm-12 col-xs-12 control-label text-left">State</label>
                <div class="btn-group col-md-8 col-xs-12 col-sm-12 " mdbDropdown placeholder="Select State">
                    <select [(ngModel)]="State" [disabled]="isCurrent" class=" optStyle">
                        <option value=""  selected>Select State</option>
                        <option *ngFor="let state of states" value="{{state['st']['nm']}}" >
                            {{state['st']['val']}}
                        </option>
                    </select>

                </div>
        </div>


        <div class="row form-group label">
                      <div class="col-12 " style="padding-left:0px;">
                        <input   id="CurrentLocation" name="CurrentLocation" type="checkbox" [(ngModel)]="isCurrent"/>Current location
                      </div>
        </div>

        <div class="row form-group pb-5">
            <div class="flex-container1">
              <button type="button" (click)="onSearch()" class="align-middle btn sButtonDisabled " [ngClass]="[City && Street && State || isCurrent? 'sButton' : 'sButtonDisabled']">
                <div class="row">
                      <div><i class="material-icons">search</i></div>
                      <div>Search</div>
                </div>
              </button>
            </div>
            <div class="flex-container2">
                <button type="button" (click)="onClear()" class="btn clrButton" >
                    <div class="row">
                        <div><i class="material-icons">clear_all</i></div>
                        <div>Clear</div>
                    </div>
                </button>
            </div>
        </div>
  </div>


  </div>

  <div class="row container2 ">
  <div class="col-6 ">
    <div class="flex-container3">
        <button type="button"  (click)="onResultClick()" [ngClass]="ifFavTabClicked? 'inact' : 'act'">Results</button>
    </div>
  </div>
  <div class="col-6">
    <div  class="flex-container4">
        <button  type="button"  (click)="onFavoritesClick()" [ngClass]="ifFavTabClicked? 'act' : 'inact'">Favorites</button>
    </div>
  </div>
  </div>


  <div class="row progress" *ngIf = "progressFlag">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; background-color:#009a9a;"></div>
  </div>

  <div class="row fav" *ngIf = "noRecordsFlag" >
      <div class="err "  style="font-weight:500;"><span >Invalid address</span></div>
  </div>

  <div class="row displaySection justify-content-center">
      <app-tab-section style="width:100%;"  [tabData]='tabData' [tabCity]='tabCity' [State]='tabState' [seal]='seal' [favCityClicked]="favCityClicked" *ngIf = "tabFlag" [addToFavoritesOption]='addToFavoritesOption'></app-tab-section>
      <app-favorites  style="width:100%;" [tableData]='localStorageObjects' *ngIf="favoritesTableFlag" (valueChange)='messageFromChild($event)'  (refreshFavTable)='refreshWithUpdatedContents($event)'></app-favorites>
  </div>

</div>
