#myChart{
  margin-top:2%;
  width:98%;
}

.optStyle{
  width:30%;
  margin-left: -4%;
  margin-top: 1.5%;
  }


@media only screen and (max-width: 600px) {
  .optStyle{
    width:90%;
    margin-left: 20px;
    margin-top: 3%;
    }
  }
